Create Database ChiringLeo
GO
Set DateFormat ymd
USE ChiringLeo
GO

/****** Object:  Table CLClientes     ******/
CREATE TABLE CLClientes(
Num SmallInt Not NULL Identity(1,1),
	ID int NOT NULL,
	Nombre varchar(20) NOT NULL,
	Apellidos varchar(30) NOT NULL,
	Direccion varchar(50) NOT NULL,
	Ciudad varchar(20) NOT NULL,
	Telefono1 char(9) NOT NULL,
	Telefono2 char(9) NULL,
 CONSTRAINT PKCliente PRIMARY KEY (ID)
)

/****** Object:  Table CLComplementos     ******/

CREATE TABLE CLComplementos(
	ID SmallInt Not NULL Constraint PKComplementos Primary Key, 
	Complemento VarChar (25) Not NULL,
	Importe SmallMoney Not NULL
	) 

/****** Object:  Table CLEstablecimientos    ******/

CREATE TABLE CLEstablecimientos(
	ID smallint NOT NULL,
	Denominacion varchar(30) NOT NULL,
	Direccion varchar(50) NOT NULL,
	Ciudad varchar(20) NOT NULL,
	Telefono char(9) NOT NULL,
 CONSTRAINT PKEstablecimiento PRIMARY KEY (ID)
)

/****** Object:  Table CLCamarers       ******/
CREATE TABLE CLCamarers(
	ID smallint NOT NULL,
	Nombre varchar(20) NOT NULL,
	Apellidos varchar(30) NOT NULL,
	Telefono char(9) NOT NULL,
	IDEstablecimiento smallint NOT NULL,
 CONSTRAINT PKCamarer PRIMARY KEY (ID),
 CONSTRAINT FKCamarerEstablecimiento FOREIGN KEY(IDEstablecimiento) REFERENCES CLEstablecimientos (ID)
)

GO
/****** Object:  Table CLPedidos         ******/

CREATE TABLE CLPedidos(
	ID bigint NOT NULL Identity (1,1) CONSTRAINT PKPedido PRIMARY KEY,
	Fecha smalldatetime NULL,
	IDCliente int NULL,
	IDEstablecimiento smallint Not NULL,
	IDCamarer smallint NULL,
	Importe smallmoney NULL,
 CONSTRAINT FKPedidoCliente FOREIGN KEY(IDCliente)
	REFERENCES CLClientes (ID) On Delete No Action,
 CONSTRAINT FKPedidoEstablecimiento FOREIGN KEY(IDEstablecimiento)
	REFERENCES CLEstablecimientos (ID) On Delete No Action,
 CONSTRAINT FKPedidoCamarer FOREIGN KEY(IDCamarer)
	REFERENCES CLCamarers (ID) On Delete No Action
)

/****** Object:  Table CLTiposVino         ******/
CREATE TABLE CLTiposVino (
	Tipo Char(15) Not NULL Constraint PKTiposVino Primary Key
)

/****** Object:  Table CLSecciones         ******/
CREATE TABLE CLSecciones(
	ID SmallInt Not NULL Constraint PKSeccion Primary Key,
	Nombre VarChar(25) Not NULL
)

/****** Object:  Table CLPedidos         ******/
CREATE TABLE CLAlergenos(
	ID SmallInt Not NULL Constraint PKAlergenos Primary Key,
	Nombre VarChar(35) Not NULL
)
GO

/****** Object:  Table CLPlatos          ******/
CREATE TABLE CLPlatos (
	ID Int Not NULL Constraint PKPlatos Primary Key,
	Nombre VarChar(30) Not NULL,
	Calorias Int NULL,
	SeccionPrincipal SmallInt Not NULL,
	PVPTapaRecomendado SmallMoney NULL,
	PVPMediaRecomendado SmallMoney NULL,
	PVPRacionRecomendado SmallMoney NULL,
	Constraint FKPlatosSecciones Foreign Key (SeccionPrincipal) References CLSecciones (ID) On Delete No Action
)

/****** Object:  Table CLVinos          ******/
CREATE TABLE CLVinos (
	ID SmallInt Not NULL,
	Nombre VarChar(30) Not NULL,
	Tipo Char (15) NULL,
	DO VarChar (20) NULL,
	PVP SmallMoney Not NULL,
	clCapacidad Decimal (4,1) Not NULL Default 75,
	Cosecha SmallInt NULL,
	CONSTRAINT PKVinos Primary Key (ID),
	CONSTRAINT FKTipos FOREIGN KEY(Tipo) References CLTiposVino (Tipo) On Delete No action
)

GO
/****** Object:  Table CLCartaPlatos         ******/
CREATE TABLE CLCartaPlatos(
	IDEstablecimiento SmallInt Not NULL,
	IDPlato Int Not NULL,
	PVPTapa SmallMoney Not NULL,
	PVPMedia SmallMoney Not NULL,
	PVPRacion SmallMoney Not NULL,
	Constraint PKCartaPlatos Primary Key (IDEstablecimiento, IDPlato),
	Constraint FKCartaPlatos Foreign Key (IDPlato) References CLPlatos (ID) On Delete No Action,
	Constraint FKCartaPlatosEstablecimientos Foreign Key (IDEstablecimiento) References CLEstablecimientos (ID) On Delete No Action
)

/****** Object:  Table CLCartaVinos         ******/
CREATE TABLE CLCartaVinos(
	IDEstablecimiento SmallInt Not NULL,
	IDVino SmallInt Not NULL,
	PVP SmallMoney Not NULL,
	Constraint PKCartaVinos Primary Key (IDEstablecimiento, IDVino),
	Constraint FKCartaVinos Foreign Key (IDVino) References CLVinos (ID) On Delete No Action,
	Constraint FKCartaVinosEstablecimientos Foreign Key (IDEstablecimiento) References CLEstablecimientos (ID) On Delete No Action
)

/****** Object:  Table CLPedidos         ******/
CREATE TABLE CLPLatosSecciones(
	IDPlato Int Not NULL,
	IDSeccion SmallInt Not NULL,
	Constraint PKPlatosSecciones Primary Key (IDPlato, IDSeccion),
	Constraint FKPlatosSeccionesPlatos Foreign Key (IDPlato) References CLPlatos (ID) On Delete No Action,
	Constraint FKPlatosSeccionesSecciones Foreign Key (IDSeccion) References CLSecciones (ID) On Delete No Action
)

/****** Object:  Table CLPedidos         ******/
CREATE TABLE CLPLatosAlergenos(
	IDPlato Int Not NULL,
	IDAlergeno SmallInt Not NULL,
	Constraint PKPlatosAlergenos Primary Key (IDPlato, IDAlergeno),
	Constraint FKPlatosAlergenosPlatos Foreign Key (IDPlato) References CLPlatos (ID) On Delete No Action,
	Constraint FKPlatosAlergenosAlergenos Foreign Key (IDAlergeno) References CLAlergenos (ID) On Delete No Action
)

/****** Object:  Table CLPedidosPlatos   ******/
CREATE TABLE CLPedidosPlatos(
	IDPedido bigint NOT NULL,
	IDPlato Int NOT NULL,
	CantidadTapas tinyint NOT NULL Default 0,
	CantidadMedias tinyint NOT NULL Default 0,
	CantidadRaciones tinyint NOT NULL Default 0,
 CONSTRAINT PKPedidosPlatos PRIMARY KEY (IDPedido,IDPlato),
 CONSTRAINT FKPedidosPlatosPedidos FOREIGN KEY(IDPedido) REFERENCES CLPedidos (ID) On Delete No Action,
 CONSTRAINT FKPedidosPlatosPLatos FOREIGN KEY(IDPlato) REFERENCES CLPlatos (ID) On Delete No Action
)

/****** Object:  Table CLPedidosComplementos   ******/
CREATE TABLE CLPedidosComplementos(
	IDPedido bigint NOT NULL,
	IDComplemento Smallint NOT NULL,
	Cantidad tinyint NOT NULL DEFAULT (1),
 CONSTRAINT PKPedidosComplementos PRIMARY KEY (IDPedido,IDComplemento),
 CONSTRAINT FKPedidosComplementosPedidos FOREIGN KEY(IDPedido) REFERENCES CLPedidos (ID) On Delete No Action,
 CONSTRAINT FKPedidosComplementosComplementos FOREIGN KEY(IDComplemento) REFERENCES CLComplementos (ID) On Delete No Action
)

/****** Object:  Table CLPedidosVinos   ******/
CREATE TABLE CLPedidosVinos(
	IDPedido bigint NOT NULL,
	IDVino Smallint NOT NULL,
	Cantidad tinyint NOT NULL DEFAULT (1),
 CONSTRAINT PKPedidosVinos PRIMARY KEY (IDPedido,IDVino),
 CONSTRAINT FKPedidosVinosPedidos FOREIGN KEY(IDPedido) REFERENCES CLPedidos (ID) On Delete No Action,
 CONSTRAINT FKPedidosVinosVinos FOREIGN KEY(IDVino) REFERENCES CLVinos (ID) On Delete No Action
)

/*************************** Inserts ******************************************/
GO
--     INSERT CLSecciones
INSERT INTO CLSecciones (ID,Nombre) VALUES (1,'Entrantes'),(2,'Ensaladas'),(3,'Pescados'),(4,'Carnes'),(5,'Postres'),(6,'Pasta')
,(7,'Arroces'),(8,'Fritos'),(9,'Plancha'),(10,'Brasa'),(11,'Marisco'),(12,'Helados'),(13,'Montaitos'),(14,'Guisos'),(15,'Cocina tradicional')
INSERT INTO CLSecciones (ID,Nombre) VALUES (16,'Cocina actual'),(17,'Japon'),(18,'Italia'),(19,'China'),(20,'Francia'),(21,'Huevos')
,(22,'Moluscos'),(23,'Thai'),(24,'Fast Food'),(25,'Infantil'),(26,'USA'),(27,'Pudings'),(28,'Pates'),(29,'Conservas'),(30,'Embutidos')
,(31,'Quesos'),(32,'Salsas'),(33,'Vegetariano'),(34,'Sopas y cremas'),(35,'Mariscos')
GO

--     Insert CLTiposVino
Insert INTO CLTiposVino (Tipo) VALUES ('Tinto          '),('Blanco         '),('Rosado         '),('Espumoso       '),('Fino           '),('Oloroso        ')
,('Lambrusco      '),('Cava           ')

--     Insert CLAlergenos
Insert INTO CLAlergenos (ID,Nombre) VALUES (11,'Cereales con Gluten'),(12,'Lactosa'),(13,'Crustaceos'),(14,'Huevos'),(15,'Pescado'),
(16,'Cacahuetes'),(17,'Soja'),(18,'Leche'),(19,'Frutos de cáscara'),(20,'Mostaza'),(21,'Apio'),(22,'Sesamo'),(23,'Sulfitos'),(24,'Altramuces'),(25,'Moluscos')

--     INSERT CLClientes
INSERT INTO CLClientes ([ID], [Nombre], [Apellidos], [Direccion], [Ciudad], [Telefono1], [Telefono2]) VALUES (1, N'Aitor', N'Tilla Perez', N'Calle Japon                                       ', N'Sevilla', N'954054940', NULL)
,(2, N'Armando', N'Bronca Segura', N'Calle Pakistan                                    ', N'Sevilla', N'954654345', NULL)
,(3, N'Cristina', N'Sanchez Salcedo', N'Plaza Redonda, 14                                 ', N'Sevilla', N'954752006', NULL)
GO

/**********************    INSERT CLVinos                 **************/
INSERT INTO CLVinos (ID,Nombre,Tipo,DO,PVP,clCapacidad,Cosecha) VALUES (12,'Sangre y Trabajadero','Oloroso','Jerez',16.5,75.0,NULL)
, (13,'El velero','Blanco','Valencia',12.6,75.0,2017),(14,'Flor del campo','Espumoso','Rias Baixas',16.3,75,2016), (15,'Tirabuzon','Rosado','Cigales',12.0,75,2015)
, (16,'Armée Rouge','Tinto','Bordeaux',18.1,75.0,2015), (17,'Prima cosa bella','Lambrusco','Toscana',15.3,75,2015), (18,'Republica','Tinto','Priorat',14.0,75,2016)
, (19,'San Dalio','Blanco','Ribeiro',14.0,75,2016), (20,'Delenda','Blanco','Malaga',9.7,75.0,2016) 

/**********************    INSERT CLPlatos                 **************/

/**********************    INSERT CLPLatosSecciones          **************/
INSERT [dbo].[CLPLatosSecciones] ([IDPlato], [IDSeccion]) VALUES (1, 8), (1, 25), (2, 15), (3, 2)
, (3, 15), (4, 8), (5, 3), (6, 15)
INSERT [dbo].[CLPLatosSecciones] ([IDPlato], [IDSeccion]) VALUES (8, 9), (9, 3), (11, 3)
, (12, 1), (12, 33), (13, 3), (14, 35), (15, 1), (17, 3),(18, 4)
INSERT [dbo].[CLPLatosSecciones] ([IDPlato], [IDSeccion]) VALUES (19, 3), (19, 9), (20, 3)
, (22, 26), (23, 4), (23, 8), (24, 3), (25, 15)


/**********************    INSERT CLComplementos             **************/
INSERT CLComplementos (ID, Complemento, Importe) VALUES (1, N'Refresco', 1.3000)
,(2, 'Cerveza tercio', 1.5000),(3, 'Copa Vino', 1.4000),(4, N'Nestea', 1.1000)
,(5, N'Helado', 2.4000),(6, 'Aquarius', 1.5000),(7, 'Botella agua', 1.0000),(8, 'Cerveza Botellin', 1.0000)
INSERT CLComplementos (ID, Complemento, Importe) VALUES (9, 'Chocolate caliente', 1.4000), (10, N'Café', 1.2000)
,(11, N'Leche', 1.5000),(12, 'Tonica', 1.3000),(13, 'Smoothy', 1.4000),(14, N'Zumo', 1.4000),(15, N'Batido', 2.0000)
INSERT CLComplementos (ID, Complemento, Importe) VALUES (16, 'Te', 1.2000),(17, 'Bubble Tea', 2.2000)
,(18, 'Cerveza especial', 2.5000),(19, 'Whysky', 3.0000), (20, 'Vodka', 3.1000)

GO
/**********************    INSERT CLEstablecimientos             **************/
INSERT CLEstablecimientos ([ID], [Denominacion], [Direccion], [Ciudad], [Telefono]) VALUES (1, 'Pringue y arena', 'C/Hipío, 14', 'Matalascañas', N'954697815')
, (7, 'La cañita fresca', '17,Madison Av', 'Chipiona', N'954974502'), (10, 'Mostachon Beach', N'C/Plata, 15', N'Utrera', N'955368741')
, (13, N'La Fresca', N'Plaza del emigrante, 5', N'Cádiz', N'954852004'), (14, 'El Paraíso', N'Plaza del Profeta', N'Marbella', N'952726633')
INSERT [dbo].[CLEstablecimientos] ([ID], [Denominacion], [Direccion], [Ciudad], [Telefono]) VALUES (22, N'Levante', N'Fuencarral, 36', N'Chiclana', N'914550660')
,(28, N'Surfers cove', N'Seyuku, Okubu, 45', N'Tarifa', N'954338215'), (31, N'La gamba', N'C/Revuelo, 49', N'Caños de Meca', N'956001147')
,(36, N'Cards of cake', N'Picadilly Circus', N'Benalmadena', N'954663008')
INSERT [dbo].[CLEstablecimientos] ([ID], [Denominacion], [Direccion], [Ciudad], [Telefono]) VALUES (55, 'El Guiri colorao', N'C/ Corredera, 15', 'Punta Umbria', N'958774004')
,(100, 'La sardina salerosa', N'James Joysce Street', 'Isla Canela', N'748325910')
,(120, 'La coquina feliz', N'Rue Clichy', 'Isla Cristina', N'901235744')
GO
--- INSERT Table CLCamarers
INSERT [dbo].[CLCamarers] ([ID], [Nombre], [Apellidos], [Telefono], [IDEstablecimiento]) VALUES (30, N'Arantxa', N'ChaChá', N'600124400', 1)
,(31, N'Ana', N'Conda', N'600124413', 7), (32, N'Alejandro', N'Medario', N'600124426', 10), (33, N'Agapito', N'Del Sereno', N'600124439', 13)
,(34, N'Carme', N'Tirosa', N'600124452', 14), (35, N'Esteba', N'Dolero', N'600124465', 22), (36, N'Eduardo', N'Minguero', N'600124478', 28)
INSERT [dbo].[CLCamarers] ([ID], [Nombre], [Apellidos], [Telefono], [IDEstablecimiento]) VALUES (37, N'Esperanza', N'Patera', N'600124491', 31)
,(38, N'Felipe', N'Dorreta', N'600124504', 36), (39, N'Fausto', N'Grisini', N'600124517', 55), (40, N'Germán', N'Tecado', N'600124530', 100)
,(41, N'Josefino', N'Quinta', N'600124543', 120), (42, N'Jua', N'Tanamera', N'600124556', 7), (43, N'Kepa', N'Sote', N'600124569', 10)
INSERT [dbo].[CLCamarers] ([ID], [Nombre], [Apellidos], [Telefono], [IDEstablecimiento]) VALUES (44, N'Mónica', N'Ipirinha', N'600124582', 13)
,(45, N'María', N'Del Cerro', N'600124595', 14), (46, N'Margarita', N'Padera', N'600124608', 22), (47, N'Olga', N'Llinita', N'600124621', 28)
,(48, N'Paco', N'Bardica', N'600124634', 36), (49, N'Pedro', N'Medario', N'600124647', 55), (50, N'Torcuato', N'Matero', N'600124660', 100)
GO
/*
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (1, 3, 1)
, (2, 1, 1), (3, 7, 1), (4, 9, 1), (4, 14, 1), (5, 4, 1), (5, 10, 1), (5, 12, 1), (6, 1, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (6, 4, 1), (6, 6, 2), (6, 7, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (6, 13, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (7, 8, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (8, 4, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (8, 10, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (8, 14, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (9, 14, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (9, 16, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (10, 1, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (10, 4, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (10, 12, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (10, 16, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (11, 4, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (11, 11, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (11, 13, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (12, 7, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (12, 13, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (13, 6, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (14, 1, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (14, 7, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (14, 8, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (14, 14, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (15, 14, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (16, 2, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (16, 9, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (16, 12, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (16, 13, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (17, 5, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (17, 6, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (18, 4, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (18, 15, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (19, 1, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (19, 7, 2)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (19, 8, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (19, 10, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (19, 11, 2)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (19, 12, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (20, 4, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (20, 11, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (21, 1, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (22, 3, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (23, 9, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (23, 13, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (23, 14, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (23, 16, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (24, 1, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (24, 2, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (24, 4, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (25, 4, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (25, 6, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (25, 7, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (26, 3, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (27, 2, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (27, 5, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (27, 6, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (27, 8, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (27, 16, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (28, 10, 2)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (29, 1, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (29, 5, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (29, 7, 3)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (29, 9, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (29, 14, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (30, 7, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (31, 3, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (31, 8, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (32, 3, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (32, 6, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (32, 8, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (32, 14, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (33, 6, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (33, 13, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (33, 15, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (34, 1, 2)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (34, 4, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (34, 6, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (34, 9, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (34, 13, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (35, 12, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (35, 16, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (36, 15, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (37, 10, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (37, 12, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (38, 13, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (39, 1, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (39, 8, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (40, 1, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (40, 8, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (40, 13, 1)
GO
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (41, 8, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (42, 1, 1)
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (42, 3, 1)
GO
INSERT [dbo].[CLPedidosComplementos] ([IDPedido], [IDComplemento], [Cantidad]) VALUES (2500, 8, 1)
*/

-- Quitamos columnas auxiliares 
Alter Table CLCLientes Drop Column Num
-- Cambiamos la base de datos por defecto
USE Ejemplos
