SET Dateformat ymd
Create DataBase LeoTurf
Go
USE LeoTurf
GO
/****** Object:  StoredProcedure [dbo].[AsignaPremios]    ******/

CREATE Procedure [dbo].[AsignaPremios] (@Carrera SmallInt) AS
  Begin
    SET NOCOUNT ON
	Declare @TotalApostado SmallMoney, @PremioPrimero SmallMoney, @PremioSegundo SmallMoney
	-- Calculamos el total de las apuestas de esa carrera
	Select @TotalApostado = Sum (Importe) From LTApuestas
		Where IDCarrera = @Carrera
	-- Repartimos por categorias
	--Para los que acierten el primero el 60%
	Set @PremioPrimero = @TotalApostado * 0.6
	-- Para los que acierten el segundo, el 20%
	Set @PremioSegundo = @TotalApostado * 0.2
	Update LTCaballosCarreras 
		Set Premio1 = IsNull(@PremioPrimero/dbo.TotalApostadoCC(IDCaballo,@Carrera),100)
		, Premio2 = IsNull(@PremioSegundo/dbo.TotalApostadoCC(IDCaballo,@Carrera),100)
		Where IDCarrera = @Carrera
	SET NOCOUNT OFF
  End -- Procedure AsignaPremios
GO
/****** Object:  StoredProcedure [dbo].[grabaApuesta]     ******/

CREATE PROCEDURE [dbo].[grabaApuesta] 
	@Carrera SmallInt
	,@Caballo SmallInt
	,@Importe SmallMoney
	,@Clave Char(12)
	,@Id SmallInt OUTPUT
	AS Begin
		INSERT INTO LTApuestas ( Clave, IDCaballo, IDCarrera,Importe) VALUES (@Clave, @Caballo, @Carrera, @Importe) 
		SET @ID = @@IDENTITY
	End --PROCEDURE grabaApuesta 
GO
/****** Object:  UserDefinedFunction [dbo].[TotalApostadoCC]    ******/

  -- Función que nos devuelve la cantidad apostada por un caballo en una carrera. Si no se ha apostado nada, devuelve NULL
  Create Function [dbo].[TotalApostadoCC] (@Caballo SmallInt, @Carrera SmallInt) Returns SmallMoney AS
  Begin
	Declare @Importe SmallMoney
	Select @Importe = Sum (Importe) From LTApuestas
		Where IDCaballo = @Caballo AND IDCarrera = @Carrera
	Return @Importe
  End	--Function TotalApostadoCC
GO
/****** Object:  StoredProcedure GeneraApuntes     ******/
-- Actualiza la tablaApuntes con las apuestas realizadas entre dos fechas
Create Procedure GeneraApuntes @FechaInicio Date, @FechaFin Date AS
Begin
	SET NOCOUNT ON
	Declare @IDAp Int, @Pasta SmallMoney, @IDJug Int, @UltimoApunte Int, @Fecha Date
	Declare CApuestas Cursor For
		Select A.ID,A.Importe, A.IDJugador, C.Fecha FROM LTApuestas AS A
			Inner JOIN LTCarreras AS C ON A.IDCarrera = C.ID
			Where C.Fecha Between @FechaInicio AND @FechaFin
			Order By A.ID
	Open CApuestas
	-- Recorremos las apuestas
	Fetch Next From CApuestas INTO @IDAp, @Pasta, @IDJug, @Fecha
	While @@FETCH_STATUS = 0
	Begin
		Begin Transaction
		Select @UltimoApunte = MAX(Orden) From LTApuntes Where IDJugador = @IDJug
		-- Insertamos el apunte correspondiente a la apuesta
		Insert INTO LTApuntes (IDJugador,Orden,Fecha,Importe,Saldo,Concepto)
			SELECT @IDJug,@UltimoApunte+1,@Fecha,-@Pasta, Saldo-@Pasta, 'Apuesta '+CAST(@IDAp AS VarChar) FROM LTApuntes
				Where IDJugador = @IDJug AND Orden = @UltimoApunte
		Set @Pasta = dbo.PremioConseguido(@IDAp)
		IF @Pasta > 0
			Insert INTO  LTApuntes (IDJugador,Orden,Fecha,Importe,Saldo,Concepto)
				SELECT @IDJug,@UltimoApunte+2,@Fecha,@Pasta, Saldo+@Pasta, 'Premio por la apuesta '+CAST(@IDAp AS VarChar) FROM LTApuntes
					Where IDJugador = @IDJug AND Orden = @UltimoApunte+1
		Commit
		Fetch Next From CApuestas INTO @IDAp, @Pasta, @IDJug, @Fecha
	End	-- While
	Close CApuestas
	Deallocate CApuestas
	SET NOCOUNT OFF
End	--Procedure GeneraApuntes
GO
/****** Object:  UserDefinedFunction PremioConseguido    ******/
-- Devuelve la cantidad ganada con una apuesta
Create Function PremioConseguido ( @IDApuesta Int )
	Returns SmallMoney AS
	Begin
	Declare @Premio SmallMoney = 0
	Declare @Posicion TinyInt
	Select @Posicion = Posicion FROM LTCaballosCarreras AS CC
		Inner Join LTApuestas AS A ON CC.IDCaballo = A.IDCaballo AND CC.IDCarrera = A.IDCarrera
		Where A.ID = @IDApuesta
	IF @Posicion = 1
		Select @Premio = A.Importe*CC.Premio1 FROM LTCaballosCarreras AS CC
			Inner Join LTApuestas AS A ON CC.IDCaballo = A.IDCaballo AND CC.IDCarrera = A.IDCarrera
			Where A.ID = @IDApuesta
	Else If @Posicion = 2
		Select @Premio = A.Importe*CC.Premio2 FROM LTCaballosCarreras AS CC
			Inner Join LTApuestas AS A ON CC.IDCaballo = A.IDCaballo AND CC.IDCarrera = A.IDCarrera
			Where A.ID = @IDApuesta
	Return @Premio
	End	--Function PremioConseguido
GO
/****** Object:  Table [dbo].[LTApuestas]     ******/

CREATE TABLE LTApuestas(
	ID int IDENTITY(1,1) NOT NULL,
	Clave char(12) NULL,
	[IDCaballo] [smallint] NOT NULL,
	[IDCarrera] [smallint] NOT NULL,
	[Importe] [smallmoney] NOT NULL,
	[IDJugador] [int] NULL,
 CONSTRAINT [PKApuestas] PRIMARY KEY (ID)
) 


/****** Object:  Table [dbo].[LTCaballos]     ******/

CREATE TABLE [LTCaballos](
	[ID] [smallint] NOT NULL,
	[Nombre] [varchar](30) NOT NULL,
	[FechaNacimiento] [date] NULL,
	[Sexo] [char](1) NULL,
 CONSTRAINT PKCaballos PRIMARY KEY (ID)
) 

GO

/****** Object:  Table [dbo].[LTCaballosCarreras]     ******/

CREATE TABLE [LTCaballosCarreras](
	IDCaballo [smallint] NOT NULL,
	[IDCarrera] smallint NOT NULL,
	[Numero] tinyint NOT NULL,
	[Posicion] tinyint NULL,
	[Premio1] decimal(4, 1) NULL,
	Premio2 [decimal](4, 1) NULL,
 CONSTRAINT PKCaballosCarreras PRIMARY KEY (IDCaballo,IDCarrera)
)

GO
/****** Object:  Table [dbo].[LTCarreras]     ******/

CREATE TABLE LTCarreras(
	[ID] [smallint] NOT NULL,
	Hipodromo [varchar](30) NOT NULL,
	[Fecha] [date] NOT NULL,
	[NumOrden] [smallint] NOT NULL,
 CONSTRAINT PKCarreras PRIMARY KEY (ID)
)


/****** Object:  Table [dbo].[LTHipodromos]    ******/

GO
CREATE TABLE LTHipodromos(
	[Nombre] [varchar](30) NOT NULL,
 CONSTRAINT [PKHipodromo] PRIMARY KEY (Nombre)
)

/****** Object:  Table [dbo].[LTJugadores]     ******/

GO
CREATE TABLE LTJugadores(
	ID int NOT NULL,
	[Nombre] [varchar](20) NOT NULL,
	[Apellidos] [varchar](30) NOT NULL,
	[Direccion] [varchar](50) NULL,
	[Telefono] [char](9) NULL,
	[Ciudad] [varchar](20) NOT NULL,
 CONSTRAINT [PKJugadores] PRIMARY KEY (ID)
) 
GO
CREATE Table LTApuntes(
	IDJugador Int Not NULL
	,Orden Int Not NULL
	,Fecha Date Not NULL
	,Importe SmallMoney Not NULL
	,Saldo SmallMoney Not NULL
	,Concepto VarChar(80) NULL
	,Constraint PKApuntes Primary Key (IDJugador, Orden)
	,Constraint FKApuntesJugadores Foreign Key (IDJugador) References LTJugadores (ID) On Delete No Action On Update No action
)

SET IDENTITY_INSERT [dbo].[LTApuestas] ON 

INSERT [LTApuestas] ([ID], [Clave], [IDCaballo], [IDCarrera], [Importe], [IDJugador]) VALUES (1, N'jkdfjkasnfjk', 1, 1, 20.0000, 1)
,(2, N'jkdfjkasnfjk', 3, 1, 10.0000, 2), (3, N'jkdfjkasofjk', 10, 1, 20.0000, 3), (4, N'jkrfjkasnfjk', 21, 1, 20.0000, 4)
INSERT [dbo].[LTApuestas] ([ID], [Clave], [IDCaballo], [IDCarrera], [Importe], [IDJugador]) VALUES (5, N'jkdfjkhsnfjk', 11, 1, 20.0000, 5)
, (6, N'jkdfjkasnfjk', 6, 1, 20.0000, 6)
, (7, N'jkdfjkasnfjk', 2, 2, 20.0000, 7)
, (8, N'jkdfjkasnfjk', 4, 2, 80.0000, 8)
, (9, N'jkdfjkasnfjk', 5, 2, 20.0000, 9)
, (10, N'jkdfjkasnfjk', 7, 2, 10.0000, 10)
, (11, N'jkdfjkasnfjk', 8, 2, 60.0000, 11)
, (12, N'jkdfjkasnfjk', 9, 3, 20.0000, 12)
, (13, N'jkdfjkasnfjk', 12, 3, 20.0000, 13)
, (14, N'jkdfjkasnfjk', 13, 3, 20.0000, 14)
INSERT [dbo].[LTApuestas] ([ID], [Clave], [IDCaballo], [IDCarrera], [Importe], [IDJugador]) VALUES (15, N'jkdfjkas6fjk', 14, 3, 100.0000, 15)
, (16, N'jkdfju8snfjk', 15, 3, 20.0000, 16)
, (17, N'jkdi04asnfjk', 16, 3, 50.0000, 17)
, (18, N'61dfjkasnfjk', 17, 3, 20.0000, 18)
, (19, N'jkdi04asnfjk', 18, 4, 50.0000, 19)
, (20, N'jkdi04asnfjk', 19, 4, 50.0000, 20)
, (21, N'jkdi04asnfjk', 20, 4, 50.0000, 21)
, (22, N'jkdi04asnfjk', 22, 4, 50.0000, 22)
, (23, N'jkdi04asnfjk', 23, 4, 50.0000, 23)
, (24, N'jkdi04asnfjk', 24, 4, 20.0000, 24)
, (25, N'jkdi04aGH7jk', 20, 4, 50.0000, 25)
INSERT [dbo].[LTApuestas] ([ID], [Clave], [IDCaballo], [IDCarrera], [Importe], [IDJugador]) VALUES (26, N'jkdi04KL02jk', 22, 4, 30.0000, 26)
, (27, N'5W&i04asnfjk', 23, 4, 10.0000, 27)
, (28, N'jkdi04asnfjk', 25, 5, 50.0000, 28)
, (29, N'jkdi04asnfjk', 26, 5, 50.0000, 29)
, (30, N'jkdi04asnfjk', 27, 5, 50.0000, 100)
, (31, N'jkdi04asnfjk', 28, 5, 50.0000, 101)
, (32, N'jkdi04asnfjk', 29, 5, 50.0000, 200)
, (33, N'jkdi04asnfjk', 30, 6, 50.0000, 207)
, (34, N'0r7i04asnfjk', 2, 6, 30.0000, 214)
, (35, N'jkdi04asnfjk', 13, 6, 15.0000, 220)
, (36, N'jkdi04asnfjk', 10, 6, 50.0000, 234)
GO

SET IDENTITY_INSERT [dbo].[LTApuestas] OFF
INSERT [dbo].[LTCaballos] ([ID], [Nombre], [FechaNacimiento], [Sexo]) VALUES (25, N'Recaredo', CAST(N'2010-04-14' AS Date), N'M')
, (26, N'Circe', CAST(N'2011-12-14' AS Date), N'H')
, (27, N'Ariel', CAST(N'2010-09-15' AS Date), N'H')
, (28, N'Celeste', CAST(N'2010-11-06' AS Date), N'H')
, (29, N'Wamba', CAST(N'2009-02-15' AS Date), N'M')
, (30, N'Sisebuto', CAST(N'2009-01-20' AS Date), N'M')
GO
INSERT [dbo].[LTHipodromos] ([Nombre]) VALUES ('Argentino de Palermo')
, ('Costa del Sol'),('Gran Hipodromo de Andalucia'), ('La Zarzuela'), ('Las Mestas')
INSERT [dbo].[LTHipodromos] ([Nombre]) VALUES ('Lasarte')
, ('Pineda'), ('Royal Ascott'), ('Son Pardo')
GO


GO
/****** Object:  Index [UQNombre]     ******/
ALTER TABLE [LTCaballos] ADD  CONSTRAINT [UQNombre] UNIQUE (Nombre)
GO
/****** Object:  Index [UQNumeroUnico]    ******/
ALTER TABLE LTCaballosCarreras ADD  CONSTRAINT UQNumeroUnico UNIQUE (IDCarrera,Numero)

GO
/****** Object:  Index [UQDenominacionInformal]     ******/
ALTER TABLE [LTCarreras] ADD  CONSTRAINT [UQDenominacionInformal] UNIQUE (Hipodromo,Fecha,NumOrden)
GO
ALTER TABLE [dbo].[LTApuestas]  WITH CHECK ADD  CONSTRAINT [FKApuestasCaballos] FOREIGN KEY([IDCarrera])
REFERENCES [dbo].[LTCarreras] ([ID])
GO
ALTER TABLE [dbo].[LTApuestas] CHECK CONSTRAINT [FKApuestasCaballos]
GO
ALTER TABLE [dbo].[LTApuestas]  WITH CHECK ADD  CONSTRAINT [FKApuestasCarreras] FOREIGN KEY([IDCaballo])
REFERENCES [dbo].[LTCaballos] ([ID])
GO
ALTER TABLE [dbo].[LTApuestas] CHECK CONSTRAINT [FKApuestasCarreras]
GO
ALTER TABLE [dbo].[LTApuestas]  WITH CHECK ADD  CONSTRAINT [FKApuestasJugadores] FOREIGN KEY([IDJugador])
REFERENCES [dbo].[LTJugadores] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LTApuestas] CHECK CONSTRAINT [FKApuestasJugadores]
GO
ALTER TABLE [dbo].[LTCaballosCarreras]  WITH CHECK ADD  CONSTRAINT [FKCaballosCarreras] FOREIGN KEY([IDCaballo])
REFERENCES [dbo].[LTCaballos] ([ID])
GO
ALTER TABLE [dbo].[LTCaballosCarreras] CHECK CONSTRAINT [FKCaballosCarreras]
GO
ALTER TABLE [dbo].[LTCaballosCarreras]  WITH CHECK ADD  CONSTRAINT [FKCarrerasCaballos] FOREIGN KEY([IDCarrera])
REFERENCES [dbo].[LTCarreras] ([ID])
GO
ALTER TABLE [dbo].[LTCaballosCarreras] CHECK CONSTRAINT [FKCarrerasCaballos]
GO
ALTER TABLE [dbo].[LTCarreras]  WITH CHECK ADD  CONSTRAINT [FKCarrerasHipodromos] FOREIGN KEY([Hipodromo])
REFERENCES [dbo].[LTHipodromos] ([Nombre])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LTCarreras] CHECK CONSTRAINT [FKCarrerasHipodromos]
GO
ALTER TABLE [dbo].[LTApuestas]  WITH CHECK ADD  CONSTRAINT [CK_ImporteApuesta] CHECK  (([Importe]>(1)))
GO
ALTER TABLE [dbo].[LTApuestas] CHECK CONSTRAINT [CK_ImporteApuesta]
GO
ALTER TABLE [dbo].[LTCaballos]  WITH CHECK ADD  CONSTRAINT [CKSexo] CHECK  (([Sexo]='M' OR [Sexo]='H'))
GO
ALTER TABLE [dbo].[LTCaballos] CHECK CONSTRAINT [CKSexo]
GO
--Calculamos los premios
Execute AsignaPremios 1
Execute AsignaPremios 2
Execute AsignaPremios 3
Execute AsignaPremios 4
Execute AsignaPremios 5
Execute AsignaPremios 6
Execute AsignaPremios 10
Execute AsignaPremios 11
Execute AsignaPremios 12
Execute AsignaPremios 13
Execute AsignaPremios 14
Execute AsignaPremios 15
Execute AsignaPremios 16
Execute AsignaPremios 17
Execute AsignaPremios 18
Execute AsignaPremios 19
Execute AsignaPremios 20
Execute AsignaPremios 21
Execute AsignaPremios 22
Execute AsignaPremios 23
-- Apuntes iniciales
Insert Into LTApuntes (IDJugador,Orden,Fecha,Importe,Saldo, Concepto)
	Select ID,1,DateFromParts(2015,01,1),100,100, 'Ingreso inicial' FROM LTJugadores
GO
Declare @Hoy Date
Set @Hoy = GetDate()
Execute GeneraApuntes '20140101', @Hoy
Use Ejemplos